.herosection {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100vh;
  background-image: url('../../assets/header_img.png');
  background-size: cover;
  background-position: center;
  margin-top: 2.5rem;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 0 2rem;
}

.hero-title {
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.hero-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #1a1a1a;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #333333;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
