/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Navbar.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
/* Navbar.css */

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#1a1a1a;
    color: #ffffff;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    display: flex;
    align-items: center;
    padding-top: 0.5rem ;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }
  .nav-links {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    gap: 4rem; /* Added gap between nav links */
  }
  
  .nav-link {
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .icon-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 1rem; /* Added gap between icons */
  }
  
  .icon {
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .hamburger {
    display: none;
  }
  
  
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    font-size: large;
    background-color: #1a1a1a;
    color: #1a1a1a;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-decoration: none;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
  }
  .cartlength{
    width: 10px;
    font-size: x-small;
    height: 10px;
  }
  .sidebar.open {
    transform: translateX(0%);
  }
  
  .button {
    margin: 1rem 0;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
  }
  
  .button:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hamburger {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        color: #ffffff;
        margin-right:auto;
      }
  }
  
  @media (min-width: 769px) {
    .sidebar {
      display: none;
    }
  }
  
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Hero.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.herosection {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100vh;
  background-image: url(/_next/static/media/header_img.33c06874.png);
  background-size: cover;
  background-position: center;
  margin-top: 2.5rem;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 0 2rem;
}

.hero-title {
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.hero-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #1a1a1a;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #333333;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.25rem;
  }

  .hero-button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-button {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Info.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
/* Info.css */

.info-section-wrapper {
    padding: 4rem 2rem;
    background-color: #ffffff;
    color: #1a1a1a;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .info-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .info-text {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Footer.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
/* Footer.css */

.footer-container {
    background-color: #1a1a1a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    box-sizing: border-box;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .footer-links {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links a {
    color: #ffffff;
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-text {
    margin: 0;
    font-size: 0.875rem;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .social-links a {
    color: #ffffff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: red;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    .footer-content {
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 768px) {
    .footer-links {
      flex-direction: row;
      justify-content: center;
    }
  }
  
